@model DoctorsWebApplication.Models.Address

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Address Line1
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            Address Line2
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            State
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            Post Code
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt class = "col-sm-2">
            City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Country
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            Modified Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            Modified By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            Created Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            Created By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AddressId">Edit</a> |
    <a asp-action="Index" asp-route-id="@ViewBag.PersonId">Back to List</a>
</div>
