@model DoctorsWebApplication.Models.Appointment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Doctor Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Person.CombinedName)
        </dd>
        <dt class="col-sm-2">
            Patient Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Person.CombinedName)
        </dd>
        <dt class="col-sm-2">
            Start Appointment
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartAppointment)
        </dd>
        <dt class="col-sm-2">
            End Appointment
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndAppointment)
        </dd>
        <dt class="col-sm-2">
            Room
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class="col-sm-2">
            Floor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            Modified Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            Modified By
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            Created Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Created By
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
