@model IPageMetaDataModel<X.PagedList.IPagedList<DoctorsWebApplication.Models.Appointment>, IPageSearchData>
@using DoctorsWebApplication.Search;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Appointments", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", Model.PageSearchData.SearchString)
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Doctor Name", "Index", new {  SortOrder = "Doctor.Person.CombinedName", SearchString = Model.PageSearchData.SearchString })
            </th>
            <th>
                @Html.ActionLink("Patient Name", "Index", new {  SortOrder = "Patient.Person.CombinedName", SearchString = Model.PageSearchData.SearchString })
            </th>
            <th>
                Floor
            </th>
            <th>
                Room
            </th>
            <th>
                Start Appointment Date
            </th>
            <th>
                End Appointment Date
            </th>
            <th>
                Modified Date
            </th>
            <th>
                Modified By
            </th>
            <th>
                Created Date
            </th>
            <th>
                Created By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Person.CombinedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Person.CombinedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.PagedList, page => Url.Action("Index", new
    {
    page,
    sortOrder = Model.PageSearchData.SortOrder,
    currentFilter = Model.PageSearchData.CurrentFilter,
    checkCurrent = Model.PageSearchData.CheckCurrent,
    searchString = Model.PageSearchData.SearchString
    }), X.PagedList.Mvc.Core.PagedListRenderOptions.TwitterBootstrapPager)

    Page @(Model.PagedList.PageCount < Model.PagedList.PageNumber ? 0 : Model.PagedList.PageNumber) of @Model.PagedList.PageCount
<br />
    Total Records @Model.PagedList.TotalItemCount

