@model IPageMetaDataModel<X.PagedList.IPagedList<DoctorsWebApplication.Models.Doctor>, IPageSearchData>
@using DoctorsWebApplication.Search;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Doctors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Doctors", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", Model.PageSearchData.SearchString)
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("GP Surgery Name", "Index", new {  SortOrder = "GPSurgery.SurgeryName", SearchString = Model.PageSearchData.SearchString })
            </th>
            <th>
                @Html.ActionLink("Doctor Name", "Index", new {  SortOrder = "Person.CombinedName", SearchString = Model.PageSearchData.SearchString })
            </th>
            <th>
                Title
            </th>
            <th>
                Abbreviations
            </th>
            <th>
                Doctor Details
            </th>
            <th>
                Modified Date
            </th>
            <th>
                ModifiedBy
            </th>
            <th>
                Created Date
            </th>
            <th>
                Created By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GPSurgery.SurgeryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.CombinedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviations)
                </td>
                <td>
                    <table cellpadding="5">
                        <tr>
                            <td>
                                <a asp-controller="PhoneNumbers" asp-action="Index" asp-route-id="@item.Person.PersonId">
                                    <input type="submit" value="Phone Numbers" class="btn btn-primary" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Addresses" asp-action="Index" asp-route-id="@item.Person.PersonId">
                                    <input type="submit" value="Addresses" class="btn btn-primary" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Qualifications" asp-action="Index" asp-route-id="@item.Person.PersonId">
                                    <input type="submit" value="Qualifications" class="btn btn-primary" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="EmailAddresses" asp-action="Index" asp-route-id="@item.Person.PersonId">
                                    <input type="submit" value="Email Addresses" class="btn btn-primary" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DoctorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model.PagedList, page => Url.Action("Index", new
    {
    page,
    sortOrder = Model.PageSearchData.SortOrder,
    currentFilter = Model.PageSearchData.CurrentFilter,
    checkCurrent = Model.PageSearchData.CheckCurrent,
    searchString = Model.PageSearchData.SearchString
    }), X.PagedList.Mvc.Core.PagedListRenderOptions.TwitterBootstrapPager)

    Page @(Model.PagedList.PageCount < Model.PagedList.PageNumber ? 0 : Model.PagedList.PageNumber) of @Model.PagedList.PageCount
<br />
    Total Records @Model.PagedList.TotalItemCount

