@model DoctorsWebApplication.Models.Drug

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Drug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Common Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt class = "col-sm-2">
            Medical Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalName)
        </dd>
        <dt class = "col-sm-2">
            Quantity In Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityInStock)
        </dd>
        <dt class = "col-sm-2">
            Reorder Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReorderQuantity)
        </dd>
        <dt class="col-sm-2">
            Retail Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class="col-sm-2">
            WholeSale Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WholeSalePrice)
        </dd>
        <dt class = "col-sm-2">
            Modified Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            Modified By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            Created Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            Created By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DrugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
