@model IEnumerable<DoctorsWebApplication.Models.EmailAddress>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Email Addresses for @ViewData["CombinedName"]</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["PersonId"]">Create New</a>
</p>
<p>
    <a asp-controller="Doctors" asp-action="Index" asp-route-id="@ViewData["PersonId"]">Back to Doctors</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Doctor Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Modified Date
            </th>
            <th>
                Modified By
            </th>
            <th>
                Created Date
            </th>
            <th>
                Created By
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.CombinedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmailAddressId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmailAddressId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmailAddressId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
